<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>naverLogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.yongms.PlaygroundSwiftUI.login</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_API_KEY)</string>
			</array>
		</dict>
	</array>
	<key>ENVTEST_KEY</key>
	<string>$(ENVTEST_KEY)</string>
	<key>KAKAO_API_KEY</key>
	<string>${KAKAO_API_KEY}</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NidAppName</key>
	<string>playgroundSwiftUI</string>
	<key>NidClientID</key>
	<string>$(NAVER_CLIENT_ID)</string>
	<key>NidClientSecret</key>
	<string>$(NAVER_SECRET_ID)</string>
	<key>NidUrlScheme</key>
	<string>com.yongms.PlaygroundSwiftUI.login</string>
</dict>
</plist>
